@use '../../styles/colors' as *;

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5em;
  width: 10rem;
  margin: 0;
  * {
    color: $text-color;
    font-family: $main-font;
    margin: auto;
  }
}

.avatar {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  object-fit: cover;
  background-color: $primary;
}
