.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  width: 100vw;
  box-sizing: border-box;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;

  @media screen and (max-width: 900px) {
    margin: 0;
    width: 100vw;
    justify-content: space-between;
  }
}
