@keyframes pan {
  0% {
    transform: translate(1em, 3em);
  }
  50% {
  }
  100% {
    transform: translate(3em, 1em);
  }
}

@keyframes typing {
  from {
    filter: blur(2px);
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes glow {
  0% {
    color: $text-color;
    border: 2px solid;
  }
  100% {
  }
}

.LandingPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: $primary;
  overflow: hidden;

  .background {
    scale: 1.2;
    position: fixed;
    animation: pan 5s infinite alternate ease-in-out;
    bottom: 3em;
  }

  // .head {
  //   // position: relative;
  //   // display: flex;
  //   // flex-direction: row;
  //   // justify-content: center;
  //   // align-items: center;
  //   // padding: 0 2em;
  //   // .LogNReg {
  //   //   position: absolute;
  //   //   top: 0;
  //   //   right: 0;
  //   //   display: flex;
  //   //   height: 100%;
  //   //   align-items: center;
  //   // a {
  //   //   position: relative;
  //   //   color: $text-color;
  //   //   width: 5em;
  //   //   margin-right: 2em;
  //   //   font-size: 1.7em;
  //   //   text-decoration: none;
  //   //   font-family: 'Kalam', cursive;
  //   //   border-radius: 5em;
  //   //   text-align: center;
  //   //   transition: 200ms;
  //   //   svg {
  //   //     height: 2.5em;
  //   //     position: absolute;
  //   //     left: 0;
  //   //     bottom: -0.25em;
  //   //     fill: none;
  //   //     stroke: var(--stroke);
  //   //     stroke-linecap: round;
  //   //     stroke-width: 1px;
  //   //     stroke-dasharray: var(--offset, 69px) 278px;
  //   //     stroke-dashoffset: 361px;
  //   //     transition: stroke 0.25s ease var(--stroke-delay, 200ms),
  //   //       stroke-dasharray 0.35s;
  //   //     &:hover {
  //   //       filter: drop-shadow(0px 0px 9px #944dff);
  //   //       --spacing: 4px;
  //   //       --stroke: #d7bdff;
  //   //       --stroke-delay: 0.1s;
  //   //       --offset: 180px;
  //   //     }
  //   //   }
  //   // }
  //   // a:hover {
  //   //   filter: drop-shadow(0px 0px 9px #b4ffffd0);
  //   // }
  //   // }
  //   // img {
  //   //   width: 6em;
  //   //   padding: 1.5em;
  //   //   aspect-ratio: 3/2;
  //   //   object-fit: contain;
  //   //   transition: 250ms;
  //   // }
  //   // img:hover {
  //   //   rotate: 15deg;
  //   //   filter: drop-shadow(-2px -5px 20px #abe7ff);
  //   // }
  // }
  .landingBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87%;

    .slogan {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: #ffffff;
        filter: drop-shadow(0px 0px 9px #b4ffffd0);
        border-radius: 0.25em;
        background: #2b44673e;
        margin-bottom: 3em;
        padding: 1em 1.5em 1em 1.5em;
        border: 5px solid;
        font-size: 4.25em;
        font-weight: bold;
        font-family: $main-font;
        overflow: hidden;
        white-space: nowrap;
        animation: glow 3s linear, typing 1.5s forwards;
        box-shadow: -1px 1px 35px -2px rgba(0, 38, 87, 0.63);
        -webkit-box-shadow: -1px 1px 35px -2px rgba(0, 38, 87, 0.63);
        -moz-box-shadow: -1px 1px 35px -2px rgba(0, 38, 87, 0.63);
      }
    }
  }

  .sponsers {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 20px;
    img {
      opacity: 0.7;
      width: 10%;
      aspect-ratio: 3/2;
      object-fit: contain;
      transition: 300ms ease-in-out;
    }
    img:hover {
      filter: drop-shadow(0px 0px 9px #b4ffffd0);
      opacity: 1;
      width: 15%;
    }
  }
}

@media screen and (max-width: 900px) {
  .LandingPage {
    overflow: hidden;
    .background {
      scale: 1.6;
      overflow: hidden;
      animation: pan 10s infinite alternate ease-in-out;
    }
    // .head {
    //   // img {
    //   //   width: 3.25em;
    //   // }
    //   // .LogNReg {
    //   //   margin: 0;
    //   //   width: 100%;
    //   //   justify-content: space-between;

    //   //   // a {
    //   //   //   margin: 0;
    //   //   //   svg {
    //   //   //     &:hover {
    //   //   //       filter: drop-shadow(0px 0px 9px #944dff00);
    //   //   //       --stroke: #d7bdff00;
    //   //   //     }
    //   //   //   }
    //   //   // }
    //   // }
    // }
    .landingBody {
      .slogan {
        font-size: 5px;
        h1 {
          padding: 3px, 5px, 3px, 0;
          animation: typing 1.5s forwards;
        }
      }
    }
  }
  .sponsers {
    img {
      opacity: 1;
    }
  }
}
