.LoginPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  
  .logoContainer {
    position: absolute;
    top: 0;
    .logo {
      width: 6em;
      padding: 1.5em;
      aspect-ratio: 3/2;
      object-fit: contain;
      transition: 250ms;
    }
  }
  .logo:hover {
    rotate: 15deg;
    filter: drop-shadow(-2px -5px 20px #abe7ff);
  }

  .background {
    z-index: -1;
    scale: 1.2;
    position: fixed;
    animation: pan 5s infinite alternate ease-in-out;
    bottom: 3em;
  }

  form {
    width: 40vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #f0fbffd0 solid;
    border-radius: 10px;
    background-color: #f0fbff89;
    box-shadow: 3px 5px 5px rgb(205, 199, 199);

    .Inputs {
      display: flex;
      flex-direction: column;
      width: 50%;

      label {
        color: $primary;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
      }

      input {
        border: 1px lightgrey solid;
        border-radius: 5px;
        height: 28px;
        width: 100%;
        box-shadow: 2px 3px 3px rgb(205, 199, 199);
      }
    }

    .buttons {
      width: 15em;
      display: flex;
      justify-content: space-evenly;
      .button {
        background: linear-gradient(to bottom right, $text-color, #89cff0);
        border: 0;
        border-radius: 12px;
        margin-right: 5px;
        color: $primary;
        cursor: pointer;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 700;
        line-height: 2.5;
        outline: transparent;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: 200ms;
        // user-select: none;
        // -webkit-user-select: none;
        &:hover {
          box-shadow: 0 0 7px 4px white;
        }
      }
    }
  }

  a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    text-decoration: none;
    color: rgb(180, 179, 179);
    transition: 200ms;

    &:hover {
      font-weight: bold;
      color: rgb(46, 46, 46);
      filter: drop-shadow(0px 0px 7px $primary);
    }
  }

  .Icons {
    display: flex;
    margin: 1.5em;

    .icon {
      height: 40px;
      width: 40px;
      font-size: 30px;
      margin: 0 10px;
      position: relative;
      text-align: center;
      line-height: 44px;
      border-radius: 50%;
    }
  }
  @media screen and (max-width: 930px) {
    form {
      width: 97vw;
      box-shadow: 3px 5px 5px rgba(205, 199, 199, 0);
    }
    a {
      color: rgba(54, 54, 54, 0.801);
    }
    .background {
      scale: 1.6;
    }
  }
}
