.Card {
  width: 12em;
  height: 15em;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  border-radius: 4px;

  .Preview {
    img {
      width: 12em;
      border-radius: 4px;
    }
  }

  .Buttons {
    height: 100%;
    width: 100%;
    display: flex;

    a {
      margin: auto;
      transition: 300ms ease-in-out;

      svg {
        color: $text-color;
        width: 1.3em !important;
      }
    }

    a:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
