@use '/client/styles/colors' as vars;

.image {
  width: 3.25em;
  padding: 1.5em;
  aspect-ratio: 3/2;
  object-fit: contain;
  transition: 250ms;
  user-select: none;
  -webkit-user-drag: none;
  font-family: vars.$main-font;

  &:hover {
    rotate: 15deg;
    filter: drop-shadow(-2px -5px 20px #abe7ff);
  }
}
