<<<<<<< HEAD
$primary: hsl(0, 0%, 100%);
$secondary: lavender;
$text-color: black;
=======
$primary: #36465D;
$secondary: #F0FBFF;
$text-color: #EEF0F2;
$purple: #D7BDFF;
$orange: #FFE8B5;
$green: #D6FFDB;
>>>>>>> 2c79a055758b9394693dd4cfd28fd31ffa0371e2
