.CardViewPage {
  display: grid;
  place-items: center;
  height: 100vh;

  .background {
    z-index: -1;
    scale: 1.2;
    position: fixed;
    animation: pan 5s infinite alternate ease-in-out;
    bottom: 3em;
  }
  .Content {
    background-size: 100%;
    height: 35vw;
    width: 35vw;
    display: grid;
    place-items: center;
    h2 {
      font-size: 2vw;
    }
  }
}
