.CardViewPage {
  display: grid;
  place-items: center;
  height: 100vh;

  .logoContainer {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    .logo {
      width: 6em;
      padding: 1.5em;
      aspect-ratio: 3/2;
      object-fit: contain;
      transition: 250ms;
      cursor: pointer;
    }
  }
  .logo:hover {
    rotate: 15deg;
    filter: drop-shadow(-2px -5px 20px #abe7ff);
  }

  .background {
    z-index: -1;
    scale: 1.2;
    position: fixed;
    animation: pan 5s infinite alternate ease-in-out;
    bottom: 3em;
  }
  .Content {
    background-size: 100%;
    height: 35vw;
    width: 35vw;
    display: grid;
    place-items: center;
    h2 {
      font-size: 2vw;
    }
  }
}
