.ErrorPage {
  height: 100vh;
  width: 100vw;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: $text-color;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: $main-font;

  span {
    position: relative;
  }
  a {
    font-size: 2em;
    color: $text-color;
    text-decoration: none;
  }

  svg {
    height: 3.6em;
    bottom: 0.45em;
    position: absolute;
    transform: translate(-92%, 1.2em) translateZ(0);
    fill: none;
    stroke: var(--stroke, $text-color);
    stroke-linecap: round;
    stroke-width: 1px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 200ms),
      stroke-dasharray 0.35s;
    &:hover {
      --spacing: 4px;
      --stroke: #d7bdff;
      --stroke-delay: 0.1s;
      --offset: 180px;
    }
  }

  img {
    width: 30%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}
