.MainContent {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: $primary;

  .SideBar {
    // background-color: red;
    width: 18em;
    height: 100vh;
    border-right: solid $secondary 1px;
    border-radius: 4px;
    background-color: $secondary;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: 300ms ease-in-out;

    .User {
      display: flex;
      height: 5em;
      width: 100%;
      // margin: auto;
      * {
        margin: auto;
      }
    }

    .SideBarContent {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .MainControls {
        flex-grow: 1;
        display: flex;
        width: 100%;

        ul,
        li {
          margin: 5px auto;
          padding: 0px;
          list-style: none;
        }
      }

      .SecondaryControls {
        display: flex;
        position: relative;
        padding: 8px 0px;
        width: 100%;

        * {
          margin: auto;
        }
      }
    }

    .PopDown {
      display: none;
    }
  }

  .Content {
    // flex-grow: 1;
    // background-color: blue;
    height: fit-content;
    width: 98%;

    .Gallary {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      height: fit-content;
      // min-height: 100vh;
      width: 100%;
      * {
        margin: auto;
      }
      .Card {
        margin: 8px;
        border: solid white 1px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    // width: 17em;

    .SideBar {
      width: 100%;

      ul:first-of-type {
        display: none;
      }

      .PopDown {
        display: flex;

        svg {
          width: 2em;
        }

        ul {
          display: block;
        }
      }
    }

    .Content {
      // border: solid yellow 2px;
      // max-width: 80%;
      .Gallary {
        flex-direction: column;
        // max-width: 60%;
        // border: solid green 2px;

        .Card {
          margin: 8px auto;
          // width: 10em;
          // height: 13em;
        }
      }
    }
  }
}
