@import './_colors.scss';
@import '../components/CardComponent.scss';
@import './login.scss';
@import './ErrorPage.scss';
@import './imgCreatePg.scss';
@import './SignUp.scss';
@import './Gallery.scss';
@import './landingPage.scss';

html,
body {
  // border: solid cyan 2px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  background-color: $primary;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
